



    <br>
            <div class="lema text-center">
                <img src="/images/logo.ico" alt="">
                <h1 class="logofont p-3 fs-1 dark-shadow logostart"><h1>{{titleweb}}</h1>
                <h2 class="logofont p-2 slogan">THE CHOICE OF READING</h2>
                <br>
                <a type="button" class="btn btn-dark" href="/libros">INICIAR</a>
                <br>
    </div>
    <br>
    
