<div class="container-fluid">
    <div class="container mt-5">
                <div class="breadcrumb">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb  ">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a class="text-dark" href="/">Inicio</a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-dark" href="/libros">Libros</a>
            </li>
        </ol>
    </nav>
        </div>

    </div>
    <div class="container">
        <div class="row mb-5">
                <div class="col-6">
                <h3>
                {{libroSingle.title}} 
                </h3>
                <h4>Aun no ha sido cargado el texto. Disculpe las molestias</h4>
            </div>
        </div>
            <div class="row">
        {{#each Citas}}
        <div class="col-4">{{qes}}Español</div>
        <div class="col-4">{{qen}}Ingles</div>
        <div class="col-4">{{qfr}}Francés</div>    
        {{/each}}
    </div>
    </div>
</div>




